.modal {
  -webkit-appearance: none;
  box-shadow: var(--theme-modal);
  background: var(--color-background);
  border-radius: 4px;
  position: absolute;
  padding: 12px 0 12px 0;
}

.childModal {
  -webkit-appearance: none;
  box-shadow: var(--theme-modal);
  background: var(--color-background);
  border-radius: 4px;
}

.wrapper {
  position: fixed;
  z-index: 1;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background: rgba(255, 255, 255, 0.4);
}

.divider {
  margin: 12px auto 12px auto;
  width: 80%;
  display: block;
  height: 1px;
  background: var(--color-border);
  opacity: 0.8;
  border: 0px;
}

.item {
  display: block;
  width: 240px;
  font-size: var(--type-scale-fixed-tiny);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-text);
  letter-spacing: 0.2px;
  font-weight: 600;
  padding: 12px 24px 12px 24px;
  cursor: pointer;
  user-select: none;
  transition: 200ms ease all;

  &:visited {
    color: var(--color-text);
  }

  &:hover {
    opacity: 0.6;
  }
}

.errorModal {
  -webkit-appearance: none;
  box-shadow: var(--theme-modal);
  background: var(--color-background);
  border-radius: 4px;
  display: flex;
  padding: 16px 20px 16px 16px;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 376px;
}

.errorModalLeft {
  color: var(--color-error);
  flex-shrink: 0;
}

.errorModalRight {
  min-width: 10%;
  width: 100%;
  padding: 1px 0px 0px 16px;
  line-height: 1.5;
  font-size: var(--type-scale-fixed-small);
}
