.modal {
  -webkit-appearance: none;
  box-shadow: var(--theme-box-shadow-modal);
  background: var(--theme-background);
  border-radius: 4px;
  position: absolute;
  padding: 12px 0 12px 0;
}

.childModal {
  -webkit-appearance: none;
  box-shadow: var(--theme-box-shadow-modal);
  background: var(--theme-background);
  border-radius: 4px;
}

.wrapper {
  position: fixed;
  z-index: 1;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background: var(--theme-background-overlay);
}

.divider {
  margin: 12px auto 12px auto;
  width: 95%;
  display: block;
  height: 1px;
  flex-shrink: 0;
  border: 0;
  outline: 0;
  background: linear-gradient(to right, var(--theme-background), var(--theme-border), var(--theme-background));
}

.item {
  display: block;
  width: 240px;
  font-size: var(--type-scale-fixed-tiny);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--theme-text);
  letter-spacing: 0.2px;
  font-weight: 600;
  padding: 12px 24px 12px 24px;
  cursor: pointer;
  user-select: none;
  transition: 200ms ease all;

  &:visited {
    color: var(--theme-text);
  }

  &:hover {
    opacity: 0.6;
  }
}

.errorModal {
  -webkit-appearance: none;
  box-shadow: var(--theme-box-shadow-modal);
  background: var(--theme-background);
  border-radius: 4px;
  display: flex;
  padding: 16px 20px 16px 16px;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 376px;
}

.errorModalLeft {
  color: var(--theme-error);
  flex-shrink: 0;
}

.errorModalRight {
  min-width: 10%;
  width: 100%;
  padding: 2px 0px 0px 16px;
  line-height: 1.5;
  font-size: var(--type-scale-fixed-small);
}

.wideFlexibleModal {
  display: block;
  max-width: 480px;
  width: 100%;
  padding-bottom: 24px;
}

.wideFlexibleModalRow {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.wideFlexibleModalColumn {
  width: 50%;
  display: inline-block;
}

.wideFlexibleModalColumnItem {
  display: block;
  font-size: var(--type-scale-fixed-tiny);
  padding: 4px 16px 4px 16px;
  color: var(--theme-text);
  text-decoration: none;

  &:visited {
    color: var(--theme-text);
  }

  &:hover {
    color: var(--theme-text);
  }
}
