html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: border-box;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body.theme-light {
  --color-background: var(--color-white);
  --color-background-2: var(--color-black-faded-2);
  --color-background-3: var(--color-black-faded-3);
  --color-text: var(--color-black);
  --color-border: var(--color-grey);
  --color-accent: rgba(1, 141, 255, 0.1);
  --color-success: rgba(68, 198, 127, 1);
  --color-error: rgba(239, 68, 68, 1);

  --theme-modal: inset 0 0 0 1px var(--color-border), 0 0 1px 4px rgba(0, 0, 0, 0.02);
  --theme-button: var(--color-black);
  --theme-button-color: var(--color-white);
  --theme-button-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  --theme-button-shadow-hover: 0 5px 15px rgba(0, 0, 0, 0.3);
}

body.theme-dark {
  --color-background: var(--color-black);
  --color-background-2: var(--color-white-faded-2);
  --color-background-3: var(--color-white-faded-3);
  --color-text: var(--color-white);
  --color-border: var(--color-dark-grey);
  --color-accent: rgba(1, 141, 255, 0.1);
  --color-success: rgba(68, 198, 127, 1);
  --color-error: rgba(239, 68, 68, 1);

  --theme-modal: inset 0 0 0 1px var(--color-border);
  --theme-button: var(--color-white);
  --theme-button-color: var(--color-black);
  --theme-button-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
  --theme-button-shadow-hover: 0 0px 0px 4px rgba(255, 255, 255, 0.2);
}

#__next {
}

html,
body {
  --color-black: #000b00;
  --color-black-faded-2: rgba(0, 11, 0, 0.075);
  --color-black-faded-3: rgba(0, 11, 0, 0.125);
  --color-white: #ffffff;
  --color-white-faded-2: rgba(251, 250, 245, 0.075);
  --color-white-faded-3: rgba(251, 250, 245, 0.125);
  --color-grey: #dcdddd;
  --color-dark-grey: #2b2b2b;
  --color-primary: #156ff7;

  --type-scale-1: 4.25rem;
  --type-scale-2: 2.25rem;
  --type-scale-3: 1.5rem;
  --type-scale-4: 1.25rem;
  --type-scale-5: 1rem;
  --type-scale-6: 0.875rem;
  --type-scale-7: 0.75rem;
  --font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica, sans-serif;
  --font-family-mono: Consolas, monaco, monospace;

  --color-border: var(--color-black);

  background: var(--color-background);
  color: var(--color-text);

  font-size: 16px;
  @media (max-width: 768px) {
    font-size: 12px;
  }

  font-family: var(--font-family);
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  ::-webkit-scrollbar {
    display: none;
  }
}
