html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: border-box;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body.theme-light {
  --color-background: var(--color-white);
  --color-background-2: var(--color-black-faded-2);
  --color-background-3: var(--color-black-faded-3);
  --color-text: var(--color-black);
  --color-border: var(--color-grey);
  --color-subdued-border: rgba(0, 0, 0, 0.07);
  --color-accent: rgba(1, 141, 255, 0.1);
  --color-success: rgba(68, 198, 127, 1);
  --color-subdued-success: rgba(106, 243, 168, 0.3);

  --color-box-background-1: rgba(245, 245, 245, 1);
  --color-box-background-2: rgba(235, 235, 235, 1);
  --color-box-background-3: rgba(215, 215, 215, 1);

  --color-error: rgba(239, 68, 68, 1);
  --color-subdued-error: rgba(239, 68, 68, 0.677);
  --color-light-gray: rgb(219, 219, 219);

  --theme-modal: inset 0 0 0 1px var(--color-border), 0 0 1px 4px rgba(0, 0, 0, 0.02);
  --theme-button: var(--color-black);
  --theme-button-color: var(--color-white);
  --theme-button-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  --theme-button-shadow-hover: 0 5px 15px rgba(0, 0, 0, 0.3);

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar {
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background: var(--color-border);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-subdued-border);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-subdued-border);
  }
}

body.theme-dark {
  --color-background: var(--color-black);
  --color-background-2: var(--color-white-faded-2);
  --color-background-3: var(--color-white-faded-3);
  --color-text: var(--color-white);
  --color-border: var(--color-dark-grey);
  --color-subdued-border: rgba(255, 255, 255, 0.07);
  --color-accent: rgba(1, 141, 255, 0.1);
  --color-success: rgba(68, 198, 127, 1);
  --color-subdued-success: rgba(106, 243, 168, 0.3);
  --color-error: rgba(239, 68, 68, 1);
  --color-subdued-error: rgba(239, 68, 68, 0.677);
  --color-light-gray: rgba(130, 130, 130, 0.59);

  --theme-modal: inset 0 0 0 1px var(--color-border);
  --theme-button: var(--color-white);
  --theme-button-color: var(--color-black);
  --theme-button-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
  --theme-button-shadow-hover: 0 0px 0px 4px rgba(255, 255, 255, 0.2);

  --color-box-background-1: rgba(239, 239, 239, 1);
  --color-box-background-2: rgba(235, 235, 235, 1);
  --color-box-background-3: rgba(215, 215, 215, 1);

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar {
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background: var(--color-border);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-subdued-border);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-subdued-border);
  }
}

body.theme-blue {
  --color-background: #35639e;
  --color-background-2: #5f96bf;
  --color-background-3: #b1cce1;
  --color-text: var(--color-white);
  --color-border: #5687bc;
  --color-subdued-border: rgba(86, 135, 188, 0.4);
  --color-accent: rgba(1, 141, 255, 0.1);
  --color-success: rgba(68, 198, 127, 1);
  --color-subdued-success: rgba(106, 243, 168, 0.3);
  --color-error: rgba(239, 68, 68, 1);
  --color-subdued-error: rgba(239, 68, 68, 0.677);
  --color-light-gray: rgba(130, 130, 130, 0.59);

  --theme-modal: inset 0 0 0 1px var(--color-border);
  --theme-button: var(--color-white);
  --theme-button-color: var(--color-black);
  --theme-button-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
  --theme-button-shadow-hover: 0 0px 0px 4px rgba(255, 255, 255, 0.2);

  --color-box-background-1: rgba(245, 245, 245, 1);
  --color-box-background-2: rgba(235, 235, 235, 1);
  --color-box-background-3: rgba(215, 215, 215, 1);

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar {
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background: var(--color-border);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-subdued-border);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-subdued-border);
  }
}

#__next {
}

html,
body {
  --color-black: #000b00;
  --color-black-faded-2: rgba(0, 11, 0, 0.075);
  --color-black-faded-3: rgba(0, 11, 0, 0.125);
  --color-white: #ffffff;
  --color-white-faded-2: rgba(251, 250, 245, 0.075);
  --color-white-faded-3: rgba(251, 250, 245, 0.125);
  --color-grey: #dcdddd;
  --color-dark-grey: #2b2b2b;
  --color-primary: #156ff7;

  --type-scale-1: 3.815rem;
  --type-scale-2: 3.052rem;
  --type-scale-3: 2.441rem;
  --type-scale-4: 1.953rem;
  --type-scale-5: 1.563rem;
  --type-scale-6: 1.25rem;
  --type-scale-7: 1rem;

  --type-scale-fixed-large: 20px;
  --type-scale-fixed-medium: 16px;
  --type-scale-fixed-small: 14px;
  --type-scale-fixed-tiny: 12px;
  --type-scale-fixed-label: 10px;

  --font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica, sans-serif;
  --font-family-mono: Consolas, monaco, monospace;
  --font-family-serif: Georgia, Times New Roman, serif;

  --color-border: var(--color-black);

  background: var(--color-background);
  color: var(--color-text);

  font-size: 16px;
  @media (max-width: 768px) {
    font-size: 12px;
  }

  font-family: var(--font-family);
}
