.body {
  padding: 24px;
}

.pixel {
  width: 1px;
  height: 1px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.mainContent {
  // Remove focus outline when element is focused programmatically (e.g., via skip link)
  // but preserve it for keyboard focus-visible interactions
  &:focus:not(:focus-visible) {
    outline: none;
  }
}

