.body {
  display: block;
  font-size: var(--type-scale);
  padding: 88px 24px 128px 24px;
  margin: 0 auto 0 auto;
  max-width: 1344px;
  width: 100%;
}

.pixel {
  width: 1px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.mainContent {
  outline: none;
}

.link {
  font-weight: 600;
  text-decoration: underline;
}

.link:hover {
  color: var(--theme-text);
  opacity: 0.8;
}

.link:visited {
  color: var(--theme-text);
}

.prompt {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px 24px 24px 24px;
  background: linear-gradient(to top, var(--theme-background) 50%, transparent);
  z-index: 100;
}

