.body {
  padding: 24px;
}

.mainContent {
  outline: none;
}

.pixel {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  visibility: hidden;
  pointer-events: none;
}

.prompt {
  padding: 24px;
  max-width: 768px;
  line-height: 1.6;
}

.link {
  color: var(--theme-text);
}

