.item {
  padding: 16px 0 16px 0;
  border-bottom: 1px solid #dcdddd;
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto 1fr;

  &:first-child {
    border-top: 1px solid #dcdddd;
    margin-top: 48px;
  }

  @media (max-width: 480px) {
    grid-template-columns: 72px 96px 1fr;
  }
}

.column {
  padding-right: 16px;
}

.contentColumn {
}

.link {
  text-decoration: none;
  color: var(--color-text);

  &:visited {
    color: var(--color-text);
  }

  &:hover {
    color: #0047ff;
  }
}
