.root {
  min-height: calc(100dvh - 48px);
  padding: 64px 24px 64px 24px;
  max-width: 512px;
  margin: 0 auto 0 auto;

  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);

  @media (max-width: 768px) {
    border-left: 0px;
    border-right: 0px;
  }
}
