.body {
  display: inline-block;
  padding: 40px 24px;
  color: inherit;
}

.hamburger {
  display: block;
  cursor: pointer;
  z-index: var(--z-index-high);
  position: relative;

  // (@xBalbinus) Before pseudo-element to make the hamburger button
  // have a larger hitbox.
  &::before {
    content: '';
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    background: transparent;
  }

  &.active .bar:nth-child(2) {
    opacity: 0;
  }

  &.active .bar:nth-child(1) {
    transform: translateY(18px) rotate(45deg) translateX(-2px);
  }

  &.active .bar:nth-child(3) {
    transform: translateY(-18px) rotate(-45deg) translateX(-3px);
  }
}

.bar {
  display: block;
  width: 32px;
  height: 8px;
  margin: 8px auto;
  background: inherit;
  background-color: currentColor;
  color: inherit;

  // (@xBalbinus) These timings should line up with the color transitioning speed in ThemeManager.tsx
  $transition-timing: 0.3s ease-in-out;
  $transition: transform $transition-timing, opacity $transition-timing, color $transition-timing;
  transition: $transition;
}
