.body {
  padding: 40px;
  color: inherit;
}

.hamburgerContainer {
  display: flex;
}

.hamburger {
  display: block;
  cursor: pointer;
  z-index: var(--z-index-high);

  &.active .bar:nth-child(2) {
    opacity: 0;
  }

  &.active .bar:nth-child(1) {
    transform: translateY(18px) rotate(45deg);
  }

  &.active .bar:nth-child(3) {
    transform: translateY(-18px) rotate(-45deg);
  }
}

.bar {
  display: block;
  width: 36px;
  height: 6px;
  margin: 12px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: inherit;
  background-color: currentColor;
  color: inherit;
}

.activeNavItemSquiggle {
  height: 100%;
  position: relative;
  top: 0;
  width: 0;
  transition: width 0.5s ease-in-out;
  width: auto;
}

.navbar {
  position: fixed;
  // (xBalbinus) In production, you would probably change this to 0 to have it at the top of the page
  // This 49px is a hacky accounting for the Navigation component's height
  top: 49px;
  left: -100%;
  width: 20%;
  transition: left 0.3s ease-in-out;
  gap: 40px;
  height: 100vh;

  @media (max-width: 768px) {
    width: 100%;
  }

  &.active {
    left: 0;
    border-right: 1px solid var(--theme-border);
  }

  overflow: hidden;
  
  .navItem {
    // (xBalbinus) A hacky adjustment to make the menu items start below the hamburger icon
    top: 126px;
    min-width: 80px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 40px;

    .navItemText {
      font-family: 'Mono';
      font-size: 24px;
      color: inherit;
      list-style: none;
      margin-bottom: 40px;

      -webkit-font-smoothing: antialiased;
    }

    .navItem:last-child .navItemText {
      margin-right: 0;
    }
  }
}
