.body {
  padding: 44px;
  color: inherit;
  max-width: 25%;
}

.logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.hamburger {
  display: block;
  cursor: pointer;
  z-index: 10;

  &.active .bar:nth-child(2) {
    opacity: 0;
  }

  &.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  &.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: inherit;
  background-color: currentColor;
}

.gutterWrapper {
  padding: 2rem;
}

.activeNavItemSquiggle {
    height: 100%;
    position: relative;
    top: 0;
    width: 0;
    transition: width 0.5s ease-in-out;

    overflow: visible;
    width: auto;
}

.navbar {
  position: fixed;
  // (xBalbinus) In production, you would probably change this to 0 to have it at the top of the page
  // This 49px is a hacky accounting for the Navigation component's height
  top: 49px;
  left: -100%;
  flex-direction: column;
  width: 25%;
  border-radius: 10px;
  transition: left 0.3s ease-in-out;
  min-height: calc(100vh - 77px);
  gap: 40px;
  height: 95vh;
  margin-top: 0px;

  &.active {
    left: 0;
    gap: 20px;

    @media (max-width: 768px) {
      gap: 40px;
    }

    @media (max-width: 400px) {
      gap: 32px;
    }
  }
  overflow: hidden;
  
  .navItem {
    top: 88px;
    padding: 0 24px;
    min-width: 64px;
    white-space: nowrap;
    position: relative;

    &:first-child {
      padding-left: 0;
    }

    .navItemText {
      font-size: 20px;
      color: inherit;
      -webkit-font-smoothing: antialiased;
      text-decoration: none;
      list-style: none;
      width: auto;

      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 80px;
    }

    .navItem:last-child .navItemText {
      margin-right: 0;
    }

    // Add on here for any additional items
    .svgAbout {
      stroke-dasharray: 500;
      stroke-dashoffset: 500;
      transition: stroke-dashoffset 0.5s ease-in-out;
    }

    &:hover .svgAbout {
      stroke-dashoffset: 0;
    }
  }
}
