.textArea {
  -webkit-appearance: none;
  color: var(--color-text);
  font-family: var(--font-family);
  background: var(--color-background);
  box-sizing: border-box;
  padding: 12px 16px 12px 16px;
  width: 100%;
  border-radius: 4px;
  line-height: 1.6;
  font-size: var(--type-scale-fixed-medium);
  box-sizing: border-box;
  white-space: pre-wrap;
  resize: none;
  transition: 200ms ease all;
  transition-property: width;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 1px var(--color-border);

  &:focus {
    box-shadow:
      0 0 0 1px var(--color-border),
      0 0 0 4px var(--color-accent);
    outline: 0;
    border: 0;
  }

  &::placeholder {
    opacity: 1;
    color: var(--color-border);
  }
}
