.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var(--theme-foreground);
}

.left {
  align-self: stretch;
}

.right {
  align-self: stretch;
}

.middle {
  align-self: stretch;
  min-width: 10%;
  width: 100%;
  background: var(--theme-foreground);
}
