.blog {
  max-width: 1440px;
  padding: 0 24px 0 21px;
  margin: 0 auto 24px auto;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 24px;
  margin: 128px 0 36px 0;
}

.title {
  font-size: var(--type-scale-2);
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}

.grid {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1440px;
  padding: 12px 24px 88px 24px;
  margin: 0 auto 48px auto;
}

.button {
  border: 1px solid var(--color-border);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-align: center;
  padding: 12px 24px 12px 24px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.post {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 1px solid var(--color-border);
  padding: 48px 0 64px 0;

  @media (max-width: 768px) {
    display: block;
  }
}

.left {
  flex-shrink: 0;
}

.middle {
  min-width: 10%;
  width: 100%;
  padding: 0px 48px 0 64px;

  @media (max-width: 768px) {
    padding: 24px 0 24px 0;
  }
}

.right {
  flex-shrink: 0;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.image {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto 0 auto;
  margin-top: 1rem;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 64px;
}

.rowLeft {
  flex-shrink: 0;
}

.rowRight {
  min-width: 10%;
  width: 100%;
  padding-left: 16px;
}

.rowName {
  margin-top: 2px;
  font-size: var(--type-scale-7);

  @media (max-width: 768px) {
    margin-top: 3px;
    font-size: var(--type-scale-6);
  }
}

.rowTitle {
  font-size: var(--type-scale-7);

  @media (max-width: 768px) {
    font-size: var(--type-scale-6);
  }
}

.subdued {
  font-weight: 600;
  letter-spacing: 0.2px;
}

.byline {
  width: 100%;
  text-transform: uppercase;
  font-size: var(--type-scale-7);
  margin-bottom: 16px;
  margin-top: 8px;

  @media (max-width: 768px) {
    font-size: var(--type-scale-6);
  }
}
