.section {
  border-top: 1px solid var(--color-border);
}

.subtext {
  padding: 48px 24px 88px 24px;
  max-width: 1440px;
  margin: 0 auto 0 auto;
}

.legal {
  text-transform: uppercase;
  opacity: 0.6;
  margin-top: 1rem;
}
