.root {
}

.container {
  max-width: 1440px;
  padding: 0 24px 0 24px;
  margin: 0 auto 0 auto;
}

.text {
  max-width: 1024px;
  letter-spacing: 0.4px;
}

.border {
  margin-top: 88px;
  border: 1px solid var(--color-border);
  padding-bottom: 48px;

  @media (max-width: 768px) {
    padding-bottom: 0px;
  }
}
