.root {
}

.navigation {
  max-width: 1440px;
  padding: 0 24px 0 24px;
  margin: 24px auto 24px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.left {
  flex-shrink: 0;
  padding-top: 1px;
  display: flex;
  align-items: flex-start;
}

.boldLinkWeb {
  text-transform: uppercase;
  line-height: 1;
  font-weight: 600;
  color: var(--color-text);
  text-decoration: none;

  &:visited {
    color: var(--color-text);
  }

  &:hover {
    color: var(--color-primary);
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.boldLinkMobile {
  text-transform: uppercase;
  line-height: 1;
  font-weight: 600;
  color: var(--color-text);
  text-decoration: none;
  display: none;

  &:visited {
    color: var(--color-text);
  }

  &:hover {
    color: var(--color-primary);
  }

  @media (max-width: 768px) {
    display: block;
  }
}

.right {
  min-width: 10%;
  width: 100%;
  text-align: right;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.link {
  font-size: 16px;
  margin-left: 24px;
  line-height: 1;
  color: var(--color-text);

  &:visited {
    color: var(--color-text);
  }

  &:hover {
    color: var(--color-primary);
  }
}
