.people {
  max-width: 1440px;
  padding: 0 24px 0 21px;
  margin: 0 auto 24px auto;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 24px;
  margin: 128px 0 36px 0;
}

.title {
  font-size: var(--type-scale-2);
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}

.grid {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1440px;
  padding: 12px;
  margin: 0 auto 48px auto;
}

.card {
  width: 16.66667%;
  padding: 12px;

  @media (max-width: 960px) {
    width: 25%;
  }

  @media (max-width: 768px) {
    width: 50%;
  }

  @media (max-width: 424px) {
    width: 100%;
  }
}

.frame {
  @media (max-width: 768px) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.image {
  width: 100%;
}

.top {
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;

  @media (max-width: 768px) {
    width: 256px;
  }
}

.bottom {
  min-width: 10%;
  width: 100%;

  @media (max-width: 768px) {
    padding-left: 24px;
  }

  @media (max-width: 568px) {
    padding-left: 16px;
  }

  @media (max-width: 424px) {
    padding-left: 24px;
    font-size: var(--type-scale-4);
  }
}

.name {
  padding: 12px 0px 0px 0px;
  font-weight: 600;

  @media (max-width: 768px) {
    padding: 8px 0px 0px 0px;
  }
}

.desc {
  padding: 8px 0px 12px 0px;
}

.social {
  margin-top: 8px;
  padding: 8px 0px 4px 0px;
}

.website {
  text-decoration: underline;
  padding: 0px 0px 12px 0px;
}
