.portfolio {
  max-width: 1440px;
  padding: 0 24px 0 21px;
  margin: 0 auto 24px auto;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 24px;
  margin: 128px 0 36px 0;
}

.title {
  font-size: var(--type-scale-2);
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}

.grid {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1440px;
  padding: 12px;
  margin: 0 auto 48px auto;
}

.card {
  width: 25%;
  padding: 12px;
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;

  @media (max-width: 960px) {
    width: 50%;
  }

  @media (max-width: 568px) {
    width: 100%;
  }

  &:hover {
    figure {
      color: var(--color-primary);
    }
  }
}

.frame {
  border: 1px solid var(--color-border);
}

.top {
  height: 188px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.bottom {
  border-top: 1px solid var(--color-border);
}

.companyName {
  padding: 12px 12px 0px 12px;
  font-weight: 600;
}

.companyDesc {
  padding: 8px 12px 12px 12px;
  line-height: 1.5;
}
