.root {
  min-height: calc(100vh - 48px);
  padding: 24px;
  max-width: 1440px;
  margin: 0 auto 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  flex-shrink: 0;
  width: 100%;
  padding-top: 24px;
}

.bottom {
  min-height: 10%;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  svg {
    width: 128px;
  }

  @media (max-width: 768px) {
    svg {
      width: 64px;
    }
  }
}

.p {
  text-transform: uppercase;
  font-size: var(--type-scale-2);
  font-weight: 300;
}
