.root {
  min-height: 100vh;
  width: 100%;
}

.top {
  height: 32px;
  width: 100%;
  box-shadow: 0 1px 0 0 var(--color-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topLeft {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.topRight {
  min-width: 10%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 16px;
}

.middle {
  min-height: calc(100vh - 96px);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.middleLeft {
  width: 256px;
  align-self: stretch;
  flex-shrink: 0;
  border-right: 1px solid var(--color-border);
}

.middleSubLeft {
  width: 256px;
  align-self: stretch;
  flex-shrink: 0;
  border-right: 1px solid var(--color-border);
}

.middleInnerSubLeft {
  width: 128px;
  align-self: stretch;
  flex-shrink: 0;
  border-right: 1px solid var(--color-border);
}

.input {
  margin: 16px;
  width: 100%;
  padding: 48px 18px;
  border-radius: 4px;
  border: 1px solid var(--color-border);
}

.remainder {
  width: 100%;
  min-width: 10%;
  align-self: stretch;
  display: flex;
  align-items: flex-end;
}

.bottom {
  height: 32px;
  width: 100%;
  box-shadow: 0 -1px 0 0 var(--color-border);
  display: flex;
  align-items: center;
}

.heading {
  font-size: 10px;
  letter-spacing: 0.2px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 32px 16px 8px 16px;
  opacity: 0.4;
  box-shadow: 0 1px 0 0 var(--color-border);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 4px 16px;
}

.svg {
  flex-shrink: 0;
  margin-right: 12px;
}

.itemRight {
  min-width: 10%;
  width: 100%;
  text-align: left;
}

.smallAvatar {
  height: 48px;
  width: 48px;
  display: inline-block;
  border-radius: 4px;
  margin-right: 12px;
}

.tinyAvatar {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  margin-right: 8px;
}

.online {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  display: block;
  border: 2px solid var(--color-background);
  background: #39ff14;
}

.name {
  margin-top: 2px;
  font-size: 12px;
  font-weight: 600;
}

.text {
  font-size: 12px;
}

.chat {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px 16px 4px 16px;
}

.presence {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px 16px 4px 44px;
}

.block {
  height: 12px;
  width: 12px;
  flex-shrink: 0;
  background: var(--color-text);
  margin-right: 8px;
}

.link {
  font-size: 10px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
  background: var(--color-text);
  color: var(--color-background);
  font-size: 12px;
  margin-left: 14px;
  flex-shrink: 0;
}

.navigationItem {
  margin-left: 16px;
  font-size: 12px;
}

.notif {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px 16px 8px 16px;
}

.notifText {
  margin-top: 2px;
  font-size: 12px;
  font-weight: 400;
}

.notifDate {
  margin-top: 2px;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.2;
}

.tab {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px 16px 4px 16px;
}
